.leaflet-container{
    width: 100vw;
    height: 100vh;
}

.leaflet-control-container { 
    position: absolute;
    bottom: 85px;
    right: 56px;
}

.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*Button Color*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn_position{
  left: 300px;
  top: 2px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*Button Color*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.rates{
  color:red
}